<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.finance-tracker.com</title>
</head>
<body>
   
    <h1>Budget Set</h1>
<p>Your monthly budget is: ₹{{budget}}</p>

    
</body>
</html>