<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Expense Added</h1>
<p>Amount: ₹{{amount}}</p>
<p>Category: {{category}}</p>
<p>Description: {{description}}</p>
<p>Date: {{date}}</p>

</body>
</html>