<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Filtered Expenses</h1>

<ul>
  {{#each filteredExpense}}
    <li>₹{{this.amount}} - {{this.category}} - {{this.date}}</li>
  {{/each}}
</ul>

<p>Total in this range: ₹{{filteredTotal}}</p>

</body>
</html>