<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>filteredTotal</title>
    <style>
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f4;
    padding: 30px;
  }

  h2 {
    text-align: center;
    color: #004080;
  }

  .filter-box {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  th {
    background-color: #004080;
    color: white;
  }

  .total {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
</style>

</head>
<body>
    <h1>Filtered Expenses</h1>

<ul>
  {{#each filteredExpense}}
    <li>₹{{this.amount}} - {{this.category}} - {{this.date}}</li>
  {{/each}}
</ul>

<p>Total in this range: ₹{{filteredTotal}}</p>

</body>
</html>