<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Expense</title>
    <style>
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f4f8;
    padding: 30px;
  }

  h2 {
    text-align: center;
    color: #004080;
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
  }

  th {
    background-color: #004080;
    color: white;
  }
</style>

</head>
<body>
    <h1>All Expenses Summary</h1>

<ul>
  {{#each userExpense}}
    <li>₹{{this.amount}} - {{this.category}} - {{this.date}} ({{this.description}})</li>
  {{/each}}
</ul>

</body>
</html>